# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# UI Serialized Models
*.idaes.vis

# Emacs files
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
.\#*

# Vim files
*.swp

# C extensions
*.so
*.o

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# pycharm
.idea/

# VSCode
.vscode/

# Mac OSX
.DS_Store

# Generated notebooks
# Actually, let's add these --dang 5/13/2023
# *_test.ipynb
# *_doc.ipynb
# *_usr.ipynb
# *_solution.ipynb
# *_exercise.ipynb

# files generated by running notebooks
idaes_examples/notebooks/**/pysmo/*.pdf
idaes_examples/notebooks/**/pysmo/*.json
idaes_examples/notebooks/**/pysmo/*.pickle
idaes_examples/notebooks/**/omlt/keras_surrogate/*.pb
idaes_examples/notebooks/**/omlt/keras_surrogate/*.pdf
idaes_examples/notebooks/**/omlt/*.pdf
**/alamo/alamo_run.alm
*.pb
*_info.json
variables.*

.mdl_wts.hdf5
pysmo_kriging_surrogate.json
AR_PFD.png
pytest_pre.lock

# notebook cache DB file, related to --cached flag
global.db