--editable .[dev,omlt]

# idaes-pse @ git+https://github.com/IDAES/idaes-pse@main
# FIXME: revert back to IDAES/idaes-pse@main before merging
idaes-pse @ git+https://github.com/IDAES/idaes-pse@refs/pull/1401/merge
