author: The IDAES Team
bibtex_bibfiles:
- references.bib
exclude_patterns:
- active/*
execute:
  execute_notebooks: cache
  cache: idaes_examples/notebooks/nbcache
  timeout: 600
logo: logo.png
only_build_toc_files: true
sphinx:
  config:
    bibtex_reference_style: author_year
title: IDAES Examples
